body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 80px;
    text-align: right;
    padding-right: 5px;
}

header {
    text-align: center;
}

input {
    font-size: 1em;
    width: 150px;
    min-width: 150px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
}

input:focus {
    /* Additinal highlight for focused elements */
    border-color: #000;
}

select {
    min-width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

input[type='date'], input[type='time'] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5em;
}

.input-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    gap: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: white;
    filter: drop-shadow(0.2em 0.2em 0.25em #80808080);
}

.csv-options-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: 1em auto;
}

#btn_fetch_wind_forecast, #btn_save_csv_file {
    filter: drop-shadow(0.2em 0.2em 0.25em #80808080);
}

.control-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 1em auto;
}

.input-container, .feedback-container {
    display: block;
    padding: 1em auto;
    margin: 0 auto;
}

.feedback-container {
    font-size: 1.6em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#show-csv-options {
    width: initial;
    min-width: initial;
}